body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
}

header {
    background: #333;
    color: #fff;
    padding: 1rem;
}

header a {
    color: #fff;
    text-decoration: none;
}

main {
    padding: 2rem;
}

footer {
    background: #eee;
    text-align: center;
    padding: 1rem;
    position: fixed;
    bottom: 0;
    width: 100%;
}
