{% extends 'base.html' %}
{% from 'macros.html' import page_header %}

{% block title %}Blog{% endblock %}

{% block content %}
    {{ page_header('Blog', 'Thoughts, tutorials, and analysis.') }}

    <div class="blog-grid">
        {% for post in posts %}
        <a href="{{ post.link }}" target="_blank" class="blog-card">
            <div class="blog-image">
                <img src="{{ url_for('static', filename='images/blog/' + post.image) }}" alt="{{ post.title }}">
            </div>
            <div class="blog-content">
                <div class="blog-meta">
                    <span class="blog-date">{{ post.date }}</span>
                    <span class="blog-category">{{ post.categories }}</span>
                </div>
                <h3 class="blog-title">{{ post.title }}</h3>
            </div>
        </a>
        {% endfor %}
    </div>
{% endblock %}
